CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_ENV_SOURCE_FILE=""
CONFIG_DEFAULT_DEVICE_TREE="sun8i-t113-mangopi-dual-uboot"
CONFIG_SPL=y
CONFIG_BOOTSTAGE_STASH_ADDR=0
CONFIG_MACH_SUN8I_R528=y
CONFIG_DRAM_CLK=792
CONFIG_DRAM_ZQ=8092667
CONFIG_SUNXI_MINIMUM_DRAM_MB=128
CONFIG_SPL_SPI_SUNXI=y
CONFIG_ENV_VARS_UBOOT_CONFIG=y
CONFIG_SYS_BOOT_GET_CMDLINE=y
# CONFIG_EXPERT is not set
CONFIG_FIT_SIGNATURE=y
CONFIG_FIT_VERBOSE=y
CONFIG_SPL_FIT_FULL_CHECK=y
CONFIG_SPL_LOAD_FIT=y
# CONFIG_BOOTSTD is not set
# CONFIG_DISTRO_DEFAULTS is not set
CONFIG_BOOTDELAY=0
CONFIG_USE_BOOTCOMMAND=y
CONFIG_SYS_STDIO_DEREGISTER=y
# CONFIG_SYS_DEVICE_NULLDEV is not set
CONFIG_LAST_STAGE_INIT=y
# CONFIG_SPL_RAW_IMAGE_SUPPORT is not set
CONFIG_SPL_FIT_IMAGE_TINY=y
CONFIG_SPL_CRYPTO=y
# CONFIG_SYS_MMCSD_FS_BOOT is not set
CONFIG_SPL_SPINAND_SUPPORT=y
CONFIG_SPL_SPINAND_PAGE_SIZE=0x800
CONFIG_SPL_SPINAND_BLOCK_SIZE=0x20000
CONFIG_SPL_UBI=y
CONFIG_SPL_UBI_MAX_VOL_LEBS=2048
CONFIG_SPL_UBI_MAX_PEB_SIZE=131072
CONFIG_SPL_UBI_MAX_PEBS=2048
CONFIG_SPL_UBI_PEB_OFFSET=4
CONFIG_SPL_UBI_VID_OFFSET=2048
CONFIG_SPL_UBI_LEB_START=4096
CONFIG_SPL_UBI_INFO_ADDR=0x41000000
CONFIG_SPL_UBI_VOL_IDS=256
CONFIG_SPL_UBI_LOAD_MONITOR_ID=0
# CONFIG_SPL_POWER is not set
CONFIG_SYS_SPI_U_BOOT_OFFS=0x80000
CONFIG_HUSH_PARSER=y
# CONFIG_CMD_BDI is not set
# CONFIG_CMD_CONSOLE is not set
# CONFIG_CMD_BOOTD is not set
# CONFIG_BOOTM_NETBSD is not set
CONFIG_BOOTM_OSE=y
# CONFIG_BOOTM_PLAN9 is not set
# CONFIG_BOOTM_RTEMS is not set
# CONFIG_BOOTM_VXWORKS is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_GO is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_CMD_EXPORTENV is not set
# CONFIG_CMD_IMPORTENV is not set
# CONFIG_CMD_EDITENV is not set
# CONFIG_CMD_SAVEENV is not set
# CONFIG_CMD_ENV_EXISTS is not set
# CONFIG_CMD_CRC32 is not set
# CONFIG_CMD_RANDOM is not set
# CONFIG_CMD_DM is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_RANDOM_UUID is not set
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_LOADS is not set
CONFIG_CMD_MTD=y
CONFIG_CMD_PART=y
# CONFIG_CMD_PINMUX is not set
# CONFIG_CMD_SF is not set
CONFIG_CMD_FAT=y
CONFIG_CMD_FS_GENERIC=y
CONFIG_CMD_MTDPARTS=y
# CONFIG_CMD_CYCLIC is not set
CONFIG_CMD_UBI=y
CONFIG_CMD_UBI_RENAME=y
CONFIG_SPL_EFI_PARTITION=y
# CONFIG_SPL_PARTITION_UUIDS is not set
CONFIG_PARTITION_TYPE_GUID=y
CONFIG_SPL_PARTITION_TYPE_GUID=y
CONFIG_SPL_OF_CONTROL=y
# CONFIG_OF_TAG_MIGRATE is not set
# CONFIG_ENV_IS_IN_FAT is not set
# CONFIG_ENV_IS_IN_SPI_FLASH is not set
CONFIG_USE_DEFAULT_ENV_FILE=y
CONFIG_DEFAULT_ENV_FILE="$(BASE_DIR)/../board/mangopi/sun8i-t113-vibration/config/uboot/uboot.env"
# CONFIG_NET is not set
CONFIG_DM_WARN=y
# CONFIG_BLOCK_CACHE is not set
CONFIG_MTD=y
CONFIG_DM_MTD=y
CONFIG_MTD_SPI_NAND=y
# CONFIG_SPI_FLASH_USE_4K_SECTORS is not set
CONFIG_SPI_FLASH_MTD=y
CONFIG_MTD_UBI_FASTMAP=y
CONFIG_MTD_UBI_FASTMAP_AUTOCONVERT=1
CONFIG_PHY=y
# CONFIG_PHY_SUN4I_USB is not set
CONFIG_DRAM_SUNXI_ODT_EN=0
CONFIG_DRAM_SUNXI_TPR0=0x004a2195
CONFIG_DRAM_SUNXI_TPR11=0x340000
CONFIG_DRAM_SUNXI_TPR12=0x46
CONFIG_DRAM_SUNXI_TPR13=0x34000100
CONFIG_CONS_INDEX=2
CONFIG_SPI=y
# CONFIG_SYSRESET is not set
CONFIG_REGEX=y
# CONFIG_RSA is not set
# CONFIG_EFI_LOADER is not set
