// SPDX-License-Identifier: (GPL-2.0+ or MIT)
// Copyright (C) 2022 Samuel Holland <samuel@sholland.org>

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include "allwinner/sun8i-t113s.dtsi"
#include "allwinner/sunxi-d1s-t113-mangopi-mq-r.dtsi"

/ {
	model = "MangoPi MQ-Dual";
	compatible = "allwinner,sun20i-d1", "allwinner,sun8i";

	uboot,fastboot-led = "PD22";

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		ethernet0 = &rtl8189ftv;
	};

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		/delete-property/ stdout-path;

		framebuffer-lcd0 {
			compatible = "allwinner,simple-framebuffer","simple-framebuffer";
			allwinner,pipeline = "mixer0-lcd0";
			clocks = <&ccu CLK_BUS_DE>,<&ccu CLK_DE>,
				<&display_clocks CLK_BUS_MIXER0>,
				<&display_clocks CLK_MIXER0>,
				<&ccu CLK_BUS_DPSS_TOP>,
				<&ccu CLK_TCON_TV>,
				<&ccu CLK_TVE>,
				<&ccu CLK_TCON_LCD0>,
				<&ccu CLK_BUS_TCON_LCD0>,
				<&ccu CLK_TCON_LCD0>;
			status = "disabled";
		};
	};

	/delete-node/ leds;

};

&cpu0 {
        cpu-supply = <&reg_vcc_core>;
};

&cpu1 {
        cpu-supply = <&reg_vcc_core>;
};

&mmc1 {
        rtl8189ftv: wifi@1 {
                reg = <1>;
                interrupt-parent = <&pio>;
                interrupts = <6 10 IRQ_TYPE_LEVEL_LOW>; /* PG10 = WL_WAKE_AP */
                interrupt-names = "host-wake";
        };
};

&pio {
	i2s2_pins: i2s-pins {
		pins = "PB5", "PB6", "PB7";
		function = "i2s2";
	};

	i2s2_din_pins: i2s-din-pins {
		pins = "PB2", "PB3";
		function = "i2s2_din";
	};

	i2c2_pe12_pins: i2c2-pe12-pins {
		pins = "PE12", "PE13";
		function = "i2c2";
	};

	pwm7_pd22_pin: pwm7-pd22-pin {
		pins = "PD22";
		function = "pwm7";
	};

	uart2_pd1_pins: uart2-pd1-pins {
		pins = "PD1", "PD2";
		function = "uart2";
	};
};

&uart0 {
	status = "disabled";
	/delete-node/ pinctrl-0;
	/delete-node/ pinctrl-names;
};

&uart1 {
	/* XR829/RTL8723bs/RTL8189fs bluetooth is connected here */
	status = "okay";
	pinctrl-0 = <&uart1_pg6_pins>;
	pinctrl-names = "default";
};

&uart2 {
	/* The default UART for Linux I/O */
	status = "disabled";
	pinctrl-0 = <&uart2_pd1_pins>;
	pinctrl-names = "default";
};

&uart3 {
	/* It interferes with the work of i2s2 */
	status = "disabled";
	/delete-node/ pinctrl-0;
	/delete-node/ pinctrl-names;
};

&spi0 {
	pinctrl-0 = <&spi0_pins>;
	pinctrl-names = "default";
	status = "okay";

	flash@0 {
		compatible = "spi-nand";
		reg = <0>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "uboot";
				reg = <0x00000000 0x00080000>;
			};

			partition@80000 {
				label = "ubi";
				reg = <0x00080000 0x0fb00000>;
			};
		};
	};
};

&wdt {
	status = "okay";
};
