// SPDX-License-Identifier: (GPL-2.0+ or MIT)
// Copyright (C) 2022 Samuel Holland <samuel@sholland.org>

/dts-v1/;

#include "mangopi-common-linux.dtsi"

/ {
	model = "MangoPi MQ-Dual";
	compatible = "allwinner,sun20i-d1", "allwinner,sun8i";

	chosen {
		stdout-path = "serial1:115200n8";
	};

	spi_panel: spi {
		compatible = "spi-gpio";
		#address-cells = <0x1>;
		#size-cells = <0x0>;

		sck-gpios = <&pio 4 0 GPIO_ACTIVE_HIGH>; /* PE0 */
		mosi-gpios = <&pio 4 1 GPIO_ACTIVE_HIGH>; /* PE1 */
		cs-gpios = <&pio 4 5 GPIO_ACTIVE_HIGH>; /* PE5 */
		num-chipselects = <0>;
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 7 5000000>;
		power-supply = <&reg_3v3>;
		pinctrl-0 = <&pwm7_pd22_pin>;
		pinctrl-names = "default";
		brightness-levels = <0 4 8 16 32 64 128 254>;
		default-brightness-level = <6>;
		post-pwm-on-delay-ms = <10>;
		pwm-off-delay-ms = <10>;
	};
};

&de {
 	status = "okay";
};

&tcon_lcd0 {
	pinctrl-0 = <&lcd_rgb666_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&tcon_lcd0_out {
        tcon_lcd0_out_rgb: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&rgb_panel_in>;
        };
};

&spi_panel {
	status = "okay";
	panel@0 {
		compatible = "fascontek,fs035vg158";
		spi-3wire;
		reg = <0>;
		backlight = <&backlight>;
		power-supply = <&reg_3v3>;
		reset-gpios = <&pio 4 4 GPIO_ACTIVE_LOW>; /* PE4 */
		port {
			rgb_panel_in: endpoint {
				remote-endpoint = <&tcon_lcd0_out_rgb>;
			};
		};
	};
};

&pwm {
	#pwm-cells = <2>;
	status = "okay";
};

&i2c2 {
	pinctrl-0 = <&i2c2_pe12_pins>;
	pinctrl-names = "default";
	status = "okay";

	focaltech: touchscreen@14 {
		compatible = "edt,edt-ft5406";
		reg = <0x14>;
		interrupt-parent = <&pio>;
		interrupts = <1 3 IRQ_TYPE_EDGE_FALLING>;  /* PB-EINT3    */
		irq-gpios = <&pio 1 3 GPIO_ACTIVE_HIGH>;   /* PB3 CTP_INT */
		reset-gpios = <&pio 1 2 GPIO_ACTIVE_HIGH>; /* PB2 CTP_RST */ // low active?
	};

	rtc1: rtc1@68 {
		compatible = "maxim,ds3231";
		reg = <0x68>;
	};
};

&gpadc {
	status = "okay";
	channel@0 {
		reg = <0>;
	};
};

&can0 {
	status = "okay";
};

&can1 {
	status = "okay";
};
