// SPDX-License-Identifier: (GPL-2.0+ or MIT)
// Copyright (C) 2022 Samuel Holland <samuel@sholland.org>

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include "allwinner/sun8i-t113s.dtsi"
#include "allwinner/sunxi-d1s-t113-mangopi-mq-r.dtsi"

/ {
	model = "MangoPi MQ-Dual Vibration meter";
	compatible = "allwinner,sun20i-d1", "allwinner,sun8i";

	aliases {
		ethernet0 = &rtl8189ftv;
	};

	/delete-node/ leds;

	wm8782_1: stereo-adc-1 {
		compatible = "wlf,wm8782";
		Vdda-supply = <&reg_3v3>;
		Vdd-supply = <&reg_3v3>;
		#sound-dai-cells = <0>;
		wlf,fsampen = <2>; /* 192KHz */
		port {
			wm8782_1_ep: endpoint {
				remote-endpoint = <&card_ep_1>;
			};
		};
	};

	wm8782_2: stereo-adc-2 {
		compatible = "wlf,wm8782";
		Vdda-supply = <&reg_3v3>;
		Vdd-supply = <&reg_3v3>;
		#sound-dai-cells = <0>;
		wlf,fsampen = <2>; /* 192KHz */
		port {
			wm8782_2_ep: endpoint {
				remote-endpoint = <&card_ep_2>;
			};
		};
	};

	wm8782_3: stereo-adc-3 {
		compatible = "wlf,wm8782";
		Vdda-supply = <&reg_3v3>;
		Vdd-supply = <&reg_3v3>;
		#sound-dai-cells = <0>;
		wlf,fsampen = <2>; /* 192KHz */
		port {
			wm8782_3_ep: endpoint {
				remote-endpoint = <&card_ep_3>;
			};
		};
	};

	sound {
		compatible = "audio-graph-card2";
		links = <&i2s2_port>;
		multi {
			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					card_ep_0: endpoint {
						remote-endpoint = <&i2s2_ep>;
					};
				};
				port@1 {
					card_ep_1: endpoint {
						remote-endpoint = <&wm8782_1_ep>;
					};
				};
				port@2 {
					card_ep_2: endpoint {
						remote-endpoint = <&wm8782_2_ep>;
					};
				};
				port@3 {
					card_ep_3: endpoint {
						remote-endpoint = <&wm8782_3_ep>;
					};
				};
			};
		};

	};
};

&cpu0 {
        cpu-supply = <&reg_vcc_core>;
};

&cpu1 {
        cpu-supply = <&reg_vcc_core>;
};

&mmc1 {
        rtl8189ftv: wifi@1 {
                reg = <1>;
                interrupt-parent = <&pio>;
                interrupts = <6 10 IRQ_TYPE_LEVEL_LOW>; /* PG10 = WL_WAKE_AP */
                interrupt-names = "host-wake";
        };
};

&pio {
	i2s2_pins: i2s-pins {
		pins = "PB5", "PB6", "PB7";
		function = "i2s2";
	};

	i2s2_din_pins: i2s-din-pins {
		pins = "PB2", "PB3", "PB4";
		function = "i2s2_din";
	};
};

&uart1 {
	pinctrl-0 = <&uart1_pg6_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&spi0 {
	pinctrl-0 = <&spi0_pins>;
	pinctrl-names = "default";
	status = "okay";

	flash@0 {
		compatible = "spi-nand";
		reg = <0>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "spl";
				reg = <0x00000000 0x00080000>;
			};

			partition@100000 {
				label = "ubi";
				reg = <0x00080000 0x0fb00000>;
			};
		};

	};
};

&mdio {
	status = "okay";
	lan8720a: ethernet-phy@0 {
		compatible = "ethernet-phy-id0007.c0f0", "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&emac {
	pinctrl-0 = <&rmii_pe_pins>;
	pinctrl-names = "default";
	phy-handle = <&lan8720a>;
	phy-mode = "rmii";
	phy-supply = <&reg_3v3>;
	status = "okay";
};

&gpadc {
	status = "okay";
	channel@0 {
		reg = <0>;
	};
};

&i2s2 {
	pinctrl-0 = <&i2s2_pins>, <&i2s2_din_pins>;
	pinctrl-names = "default";
	status = "okay";
	channel-dins = /bits/ 8 <0 0 1 1 2 2>;
	channel-slots = /bits/ 8 <0 1 0 1 0 1>;
	i2s2_port: port {
		format = "i2s";
		mclk-fs = <128>;
		bitclock-master;
		frame-master;
		i2s2_ep: endpoint {
			remote-endpoint = <&card_ep_0>;
		};
	};
};

&uart3 {
	status = "disabled";
	/delete-node/ pinctrl-0;
	/delete-node/ pinctrl-names;
};

&wdt {
	status = "okay";
};
