// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (C) 2022 Arm Ltd.

/dts-v1/;

#include "mangopi-common-uboot.dtsi"

/ {
	chosen {
		stdout-path = "serial1:115200n8";
	};
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pg6_pins>;
	status = "okay";
};
